body{
    border: solid lightgray 20px;
    background-size: 0px;
    background-color: lightgray;
    font-family: "Trebuchet MS", Times, serif;
    font-size: 1vw;
}
a:link{
    color: #00a7ff;
}
a:visited{
    color: palevioletred;
}
main{
    border: solid white 10px;
}
em{
    font-size: 1.1vw;
    color: #71808b;
    font-weight: bold;
}
header{
    background-color: #182073;
    color: white;
    padding-top: 0.2vw;
}
footer{
    background-color: #182073;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
}
footer>p>em{
    color: white;
}
header> p,h1{
    padding-left: 2vw;
}
header>p{
    font-style:italic;
}
header>nav{
    background-color:#3748ac;
    padding-bottom: 0.0004vw;
}

header>nav li{
    display:inline;
    font-size: 1.5vw;
    margin-left: 0px;
}
h3{
    text-transform: uppercase;
    background-color: #6e7bc4;
    color: white;
    margin: auto;
    padding: 1vw 0vw 1vw 1vw;
}
main{
    background-color: white;
}
#description, #related, #reviews{
    width: 40.75vw;
    border: solid #bdc3e6 1px;
    margin-bottom: 1vw;
}
#reviews > div{
    border-bottom: solid 1px #bdc3e6;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
}
.byline{
    font-style: italic;
    color: #4948ac;
}
time{
    color: #ff92ac;
}
#description figcaption{
    background-color: #bdc3e6;
    font-family: "Times New Roman", Times, serif;
    font-size: 1vw;
    padding-left: 0.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}   
figure{
    border: solid transparent 0px;
    padding: 0px;
    margin: 0px;
}
figure img{
    height: 22vw;
}

img{
    z-index: -1;
    height: 10vw;
}


div img:hover{
    box-sizing: border-box;
    box-shadow: inset 0px 10px 0px pink;
}

p{
    padding-left: 1vw;
}